		{{ "<!-- Favicon -->" | safeHTML }}
		<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}favicon/{{ .Site.Params.icon180 }}.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon/{{ .Site.Params.icon32 }}.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon/{{ .Site.Params.icon16 }}.png">
		<link rel="manifest" href="{{ .Site.BaseURL }}favicon/{{ .Site.Params.manifest }}">
		<link rel="mask-icon" color="#212f3d" href="{{ .Site.BaseURL }}favicon/{{ .Site.Params.iconsvg }}.svg">
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon/{{ .Site.Params.favicon }}.png">
		<meta name="msapplication-config" content="{{ .Site.BaseURL }}favicon/{{ .Site.Params.browserconfig }}.xml">
		<meta name="msapplication-TileColor" content="#212f3d">
		<meta name="theme-color" content="#303f9f">